@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
    font-family: 'Lato';
}

/*  HEADER  */

.aha-header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.aha-info-usersInfo {
    display: flex;
}

.aha-info-search input[type="text"] {
    border: none;
    background: transparent;
    font-size: 12px;
}

.aha-info-search button {
    border: none;
    background: transparent;
    padding-right: 0;
}

.aha-info-usersInfo img {
    max-width: 15px;
    max-height: 15px;
    margin-right: 4px;
}

.aha-info-usersInfo span {
    font-size: 12px;
}

.aha-info-search {
    background: #F8F8F8;
    border-radius: 29px;
    padding: 3px 10px;
}

.aha-usersInfo-myAccount {
    margin-right: 30px;
    display: flex;
}

.aha-usersInfo-contact {
    margin-right: 30px;
    display: flex;
}

.aha-header-links {
    text-align: center;
    padding: 10px;
    border: 1px solid #f8f7f7;
}

.aha-header-links a {
    text-decoration: none;
    color: black;
    margin: 5px 40px;
    font-size: 14px;
}

/*  SECTION ONE  */

.aha-banner img {
    width: 100%;
}

button.slick-next.slick-arrow {
    right: 20%;
}

.slick-next:before {
    color: transparent;
    background-image: url(./midia/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
}

button.slick-prev.slick-arrow {
    left: 15%;
    z-index: 1;
}

.slick-prev:before {
    color: transparent;
    background-image: url(./midia/arrow-left.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.slick-prev.slick-disabled:before {
    opacity: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: -2px;
}

ul.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before{
    opacity: 1;
    color: white;
    font-size: 7px;
}

.slick-dots li{
    margin: 0 -2px;
}

.aha-first-regua {
    display: flex;
    background: #F8F8F8;
    padding: 20px 10px;
    justify-content: center;
}

.aha-regua-shipping {
    display: flex !important;
    margin-right: 15%;
    align-items: center;
}

.aha-regua-shipping img {
    margin-right: 7px;
}

.aha-regua-card img {
    margin-right: 7px;
}

.aha-regua-card {
    align-items: center;
    display: flex !important;
}

.aha-first-regua span {
    font-size: 13px;
}

/*  SECTION TWO  */

.aha-two-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
    margin: 40px auto;
    width: 70%;
}
    
.aha-grid-one {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-items: center;
    padding: 10px;
}

.aha-grid-two {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-items: center;
    padding: 10px;
}

.aha-grid-three {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-items: center;
    padding: 10px;
}

.aha-grid-four {
    grid-row-start: 2;
    grid-column-start: 2; 
    grid-row-end: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-items: center;
    padding: 10px;
}

.aha-grid-five {
    grid-row-start: 1;
    grid-column-start: 3; 
    grid-row-end: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-items: center;
    padding: 0 10px 10px;
    justify-content: space-between;
}

.aha-grid-one:hover img, .aha-grid-two:hover img, .aha-grid-three:hover img, .aha-grid-four:hover img, .aha-grid-five:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.aha-two-grid img {
    width: 200px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.aha-two-grid span {
    text-transform: uppercase;
    font-size: 14px;
}

/*  SECTION THREE  */

.aha-three-title h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.aha-three-shelf {
    display: flex;
}

.aha-shelf-product {
    position: relative;
    margin: 10px;
}

.aha-product-flags {
    display: flex;
}

.aha-flags-10off {
    position: absolute;
    top: 0;
    right: 10px;
    background: black;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    padding: 3px 8px;
}

.aha-flags-maisVendido {
    background: black;
    padding: 3px 8px;
    border-radius: 17px;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

.aha-product-image {
    position: relative;
}

.aha-flags-shippingFree {
    background: gray;
    padding: 3px 8px;
    border-radius: 17px;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    right: 40px;
}

.aha-product-image img {
    width: 100%;
}

.aha-product-name {
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

.aha-product-price {
    display: flex;
    flex-direction: column;
    text-align: center;
}

span.aha-price-original {
    color: gray;
    font-size: 12px;
}

span.aha-price-offer {
    font-weight: bold;
    font-size: 15px;
}

span.aha-price-card {
    font-size: 15px;
}

.aha-three-shelf.slick-initialized.slick-slider {
    width: 72% !important;
    margin: 0 auto;
}

.aha-three-shelf.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: -2%;
}
.aha-three-shelf.slick-initialized.slick-slider button.slick-next.slick-arrow {
    right: -3%;
}

.aha-product-buyButton {
    text-align: center;
    display: flex;
    background: black;
    margin: 10px auto;
    width: 60%;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
}


.aha-shelf-product:hover .aha-product-buyButton{
    opacity: 1;
}

.aha-product-buyButton span {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 12px;
}

.aha-product-buyButton img {
    max-width: 19px;
    margin-right: 5px;
}

.aha-product-espiar {
    position: absolute;
    top: 50%;
    transform: translateX(90px);
    font-size: 12px;
    background: gray;
    padding: 2px 6px;
    border-radius: 12px;
    color: white;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.aha-shelf-product:hover .aha-product-espiar{
    opacity: 1;
}

/*  SECTION FOUR    */

.aha-four-banner {
    display: flex;
}

.aha-four-banner img {
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
}

.aha-four-banner img:hover {
    filter: blur(2px);
}

.aha-four-banner h3 {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    font-size: 70px;
    top: 30%;
    font-weight: 100;
    color: white;
    transform: translateY(-50%) translateX(91px);
}

.aha-banner-left {
    position: relative;
    margin-right: 10px;
}

.aha-banner-right {
    position: relative;
}

section.aha-section-four {
    width: 70%;
    margin: 0 auto;
}

/*  SECTION FIVE    */

.aha-five-depositions h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.aha-depositions-cards {
    display: flex;
    width: 71%;
    margin: 0 auto;
    text-align: center;
}

.aha-cards-client {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background: #F8F8F8;
    border-radius: 10px;
}

.aha-cards-client span.aha-name-client {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 13px;
    font-weight: bold;
}

.aha-cards-client span.aha-client-deposition {
    font-size: 12px;
    margin: 0 10px;
}

.aha-cards-client span.aha-deposition-date {
    color: gray;
    font-size: 12px;
    margin: 10px 0;
}

/*  SECTION SIX    */

.aha-six-newsletter {
    text-align: center;
}

.aha-six-newsletter h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-bottom: -4px;
}

.aha-six-newsletter span {
    font-size: 14px;
    color: gray;
}

.aha-newsletter-input {
    margin-top: 20px;
}

.aha-newsletter-input input {
    border: 1px solid transparent;
    background: #f8f8f8;
    padding: 10px 5px;
    border-radius: 20px;
    width: 29%;
    margin-right: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.aha-newsletter-input input:hover {
    border: 1px solid black;
    color: black;
}

.aha-newsletter-input input::placeholder {
   padding-left: 10px;
   color: gray;
   font-size: 12px;
}

.aha-newsletter-input button {
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 9px 24px;
    border-radius: 20px;
    font-size: 11px;
}

/*    FOOTER    */

.aha-footer-info {
    margin: 30px 30px 0;
    padding-bottom: 10px;
}

.aha-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.aha-info-institucional {
    display: flex;
    flex-direction: column;
}

.aha-info-ajuda {
    display: flex;
    flex-direction: column;
}

.aha-info-págamento {
    display: flex;
    flex-direction: column;
}

.aha-info-midia {
    display: flex;
    flex-direction: column;
}

section.aha-section-footer {
    background: #f8f8f8;
}

.aha-footer-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.aha-footer-logo img {
    max-width: 70px;
    align-self: center;
}

.aha-footer-logo span {
    font-size: 12px;
    color: gray;
    font-weight: 100;
}

.aha-info p {
    margin-bottom: 9px;
}

.aha-info-institucional a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-bottom: 2px;
}

.aha-info-ajuda a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-bottom: 2px;
}

.aha-contato-clock {
    margin-bottom: 7px;
}

.aha-contato-whatsapp {
    margin-bottom: 5px;
}

.aha-midia-sociais a {
    margin-right: 3px;
}

.aha-btn-mobile{
    display: none;
}
button.aha-mobile-close {
    display: none;
}

@media (max-width: 767px) {
    .aha-btn-mobile{
        display: block;
        border: none;
        background-color: transparent;
    }
    .aha-btn-mobile img {
        max-width: 15px;
    }
    .aha-header-links {
        display: none;
    }
    .aha-header-links.active {
        display: flex;
        position: fixed;
        width: 94%;
        height: calc(100vh - 20px);
        top: 0;
        background: white;
        flex-direction: column;
        text-align: left;
        padding-top: 40px;
        z-index: 10;
    }
    button.aha-mobile-close {
        display: flex;
        border: none;
        position: absolute;
        top: 10px;
        right: 0px;
        width: 10%;
        background: transparent;
    }

    .aha-header-links a {
        margin: 20px 10px;
    }
    
    .aha-info-search {
        position: absolute;
        bottom: 5px;
    }
    
    .aha-info-usersInfo span {
        display: none;
    }
    
    .aha-info-usersInfo {
        flex-direction: column;
    }

    .aha-usersInfo-myAccount {
        margin: 5px 0;
    }
    
    .aha-usersInfo-contact {
        margin: 5px 0;
    }
    
    .aha-usersInfo-miniCart {
        margin: 3px 0;
    }

    .aha-header-info {
        padding-bottom: 30px;
        position: relative;
    }

    button.slick-prev.slick-arrow {
        left: 5px;
    }
    
    button.slick-next.slick-arrow {
        right: 5px;
    }
    
    ul.slick-dots {
        bottom: 0;
    }

    .aha-regua-card {
        place-content: center;
    }

    .aha-two-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin: 10px;
        width: 95%;
    }

    .aha-regua-shipping {
        place-content: center;
    }
    .aha-grid-one {
        grid-area: 1 / 1 / 2 / 2;
    }
    .aha-grid-two {
        grid-area: 1 / 2 / 2 / 3;
    }
    .aha-grid-three {
        grid-area: 2 / 1 / 3 / 2;
    }
    .aha-grid-four {
        grid-area: 2 / 2 / 3 / 3;
    }
    .aha-grid-five {
        display: none;
    }
    .aha-two-grid img {
        width: 100%;
    }
    
    .aha-three-shelf.slick-initialized.slick-slider{
        width: 87% !important;
    }

    .aha-three-shelf.slick-initialized.slick-slider button.slick-prev.slick-arrow {
        left: 2% !important;
    }

    .aha-three-shelf.slick-initialized.slick-slider button.slick-next.slick-arrow {
        right: 0% !important;
    }

    .aha-flags-maisVendido {
        left: 60px;
    }
    
    .aha-flags-shippingFree {
        right: 70px;
    }

    .aha-flags-maisVendido.custom {
        left: 37%;
    }

    .aha-flags-shippingFree.custom {
        right: 40%;
    }

    .aha-product-espiar {
        transform: translateX(130px);
    }

    .aha-four-banner {
        flex-direction: column;
    }
    
    section.aha-section-four {
        width: 90%;
    }
    
    .aha-four-banner h3 {
        font-size: 50px;
    }

    .aha-depositions-cards.slick-initialized.slick-slider button.slick-prev.slick-arrow {
        left: -20px;
    }
    
    .aha-depositions-cards.slick-initialized.slick-slider button.slick-next.slick-arrow {
        right: -26px;
    }

    .aha-six-newsletter h2 {
        margin: 10px 10px 0px 10px;
    }
    
    .aha-newsletter-input {
        display: flex;
        flex-direction: column;
    }
    
    .aha-newsletter-input input {
        width: 90%;
        margin: 5px auto;
    }
    
    .aha-newsletter-input button {
        width: 40%;
        margin: 5px auto;
    }

    .aha-info {
        flex-direction: column;
    }
}